
.container-img {
  width: 100%;
  height: auto;
}

div.img-card {
  box-sizing: border-box;
  float: left;
  margin-left: 5px;
  margin-right: 5px;
  width: 32%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

@media  only screen and (max-width: 700px) {
  div.img-card {
    width: 30%;
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 500px){
  div.img-card {
    width: 100%;
  }
}

div.img-card > img {
    width: 100%;
    height: auto;
}

div.img-card > p {
  text-align: center;
  padding: 10px 20px;
  color: black;
  margin-top: 5px !important;
  font-size: 18px;
}
